@use 'variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family-en, $font-family-ja;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: $margin-side;
  padding-right: $margin-side;
  width: 100%;
}

section {
  margin-bottom: $section-gap;
}

@media (hover: hover) and (pointer: fine) {
  *, *::before, *::after {
    cursor: none !important;
  }
}

@media (hover: none) and (pointer: coarse) {
  /* カスタムカーソル本体を非表示（※クラス名に cursor が含まれるものをまるごと隠す） */
  [class*="cursor"] {
    display: none !important;
  }
  
  /* サイト全体のカーソルを標準に戻す */
  *, *::before, *::after {
    cursor: auto !important;
  }
}