/* --- Gallery Section --- */
.gallerySection {
  padding: 150px 0 0;
  background-color: #e5e5e5; 
}

.galleryTitle {
  h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 32px;
  }
}

.tvWrapper {
  width: 100%;
  aspect-ratio: 2 / 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}